# Application key, used to generate user tokens, etc.
# IMPORTANT: Replace with a random string
APP_KEY=change_me_to_a_secure_random_string

# Database type, supports postgres, mysql, mariadb
DB_DIALECT=postgres
# Database host, can be replaced with an existing database server IP
DB_HOST=postgres
# Database port
DB_PORT=5432
# Database name
DB_DATABASE=nocobase
# Database user
DB_USER=nocobase
# Database password
DB_PASSWORD=nocobase
# Timezone
TZ=Europe/Madrid

# PostgreSQL database credentials (for the postgres service)
POSTGRES_USER=nocobase
POSTGRES_DB=nocobase
POSTGRES_PASSWORD=nocobase
